@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,700;1,400&family=Open+Sans:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  font-family: "Amaranth", sans-serif;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  color: #245953;
}

/* general items */

.button {
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 15px;
  margin-right: 15px;
  font-family: "Amaranth", sans-serif;
}

.label {
  color: #327274;
  font-weight: bold;
  font-size: 18px;
}

/* container */

.container {
  padding: 30px;
}

.dates-image-quote_container {
  display: flex;
}

/* dates setting */

.dates-settings_container {
  flex: 1.3;
  padding-right: 2%;
}

.dates {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

input[type="date"] {
  font-size: 15px;
  border: 1px solid rgb(182, 181, 181);
  padding-left: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: #68c9cc;
  cursor: pointer;
}

.reset-presets-buttons_container {
  display: flex;
  justify-content: space-between;
}

.presets {
  display: flex;
  justify-content: flex-end;
}

#weekPreset {
  background-color: #32ad9f;
  color: white;
  transition: all 0.3s ease-in-out;
}

#weekPreset:hover {
  background-color: white;
  color: #32ad9f;
}

#monthPreset {
  background-color: rgb(109, 109, 109);
  color: white;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

#monthPreset:hover {
  background-color: white;
  color: rgb(109, 109, 109);
}

#reset {
  background-color: #b26969;
  color: white;
  transition: all 0.3s ease-in-out;
}

#reset:hover {
  background-color: white;
  color: #b26969;
}

.days-taken-into-account-container {
  margin: 30px 0;
}

.days-taken-into-account-label {
  margin-bottom: 10px;
}

.counting-units-container {
  margin-bottom: 20px;
}

select {
  font-size: 18px;
  padding: 0 5px;
  border: none;
  cursor: pointer;
}

.calculate-clear_buttons {
  display: flex;
}

#clear-results {
  background-color: #b26969;
  color: white;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

#clear-results:hover {
  background-color: white;
  color: #b26969;
}

#calculate {
  background-color: #2e7069;
  color: white;
  transition: all 0.3s ease-in-out;
}

#calculate:hover {
  background-color: white;
  color: #2e7069;
}

#calculate:disabled {
  opacity: 0.5;
}

.result-line {
  margin-top: 20px;
}

.result-span {
  color: #af7373;
}

/* image */

.image_container {
  flex: 1;
  background-image: url("./images/time-image.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* quote */

.quote_container {
  flex: 1;
  font-family: "Amaranth", sans-serif;
  font-style: italic;
  font-size: 25px;
  padding-left: 2%;
}

#quote-text {
  color: #af7373;
  margin-bottom: 10px;
  line-height: 45px;
}

#quote-author {
  float: right;
  font-size: 20px;
  color: rgb(93, 93, 93);
}

/* table */

.table-container {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

td {
  text-align: center;
  padding: 5px;
}

th {
  font-size: 20px;
  padding: 10px;
  font-family: "Amaranth", sans-serif;
  color: #245953;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #af737338;
}

/* media queries */

@media (max-width: 1250px) {
  .dates {
    flex-direction: column;
  }

  .start-date-container {
    margin-bottom: 10px;
  }

  .dates-settings_container {
    flex: 1;
  }

  .presets {
    justify-content: flex-start;
  }

  .reset-presets-buttons_container {
    flex-direction: column;
  }

  #reset {
    order: 2;
    margin-top: 10px;
    width: 50%;
  }
}

@media (max-width: 950px) {
  .quote_container {
    display: none;
  }
}

@media (max-width: 550px) {
  .image_container {
    display: none;
  }

  .dates-image-quote_container {
    text-align: center;
  }

  .reset-presets-buttons_container {
    align-items: center;
  }

  .calculate-clear_buttons {
    justify-content: center;
  }

  th {
    font-size: 15px;
    padding: 5px;
  }

  td {
    font-size: 12px;
  }

  .label {
    font-size: 15px;
  }

  select {
    font-size: 15px;
  }
}
